# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../NetCenter\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\coelh\Desktop\NetCenter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
